* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$square: clamp(10px, 5vw, 60px);
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #A7A2A9;
    .square {
            width: $square;
            height: $square;
            background-color: #232020;
    }
}