* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$square: clamp(10px, 5vw, 60px);
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #A7A2A9;
    .container {
        width: 95vw;
        height: 100vh;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: clamp(10px, 2.5vw, 60px);
        padding-bottom: clamp(10px, 2.5vw, 60px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(10px, 2.5vw, 60px);
        .row {
            display: flex;
            justify-content: center;
            gap: clamp(10px, 2.5vw, 60px);
            flex-basis: 1;
            .square {
                    width: $square;
                    height: $square;
                    background-color: #232020;
            }
        }
    }
}